@model YoneticiOtomasyonu.Models.Building

@{
    ViewData["Title"] = "Delete";
}

<h1>Bina Sil</h1>

<h3>Bu binayý silmek istediðinizden emin misiniz?</h3>
<div>
    <h4>Bina Bilgileri</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Block)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Block)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FloorCount)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FloorCount)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.UnitCount)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.UnitCount)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class="col-sm-9">
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <div class="form-group">
                    <label>Mevcut Resim:</label><br />
                    <img src="@Model.ImageUrl" alt="Bina Resmi" style="max-width: 200px; border: 1px solid #ccc;" />
                </div>
            }
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Sil</button>
        <a asp-action="Index" class="btn btn-secondary">Listeye Dön</a>
    </form>
</div>
